.main-container{
    width: 100%;
    height: 100%;
    background-color: deeppink;
}

.title-label{
    margin: auto;
    color: white;
    font-size: 58px;
}

.list-container{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.list-item{
    margin: 20px;
    font-size: 38px;
    color: white;
    align-self: center;
}

.list-item-btn{
    background-color: deeppink;
}