.damage-number-container{
    position: absolute;
    display: flex;
    width: 150px;
    height: 125px;
    -unity-text-align: middle-center;
    justify-content: center;
    align-items: center;
}

.damage-number-label {
    opacity: 0;
    color: #ff8b00;
    text-shadow: 6px 6px 0px rgb(0, 0, 0);
    -unity-text-outline-color: black;
    -unity-text-outline-width: 2px;
    font-size: 20px;
    -unity-font-style: bold;
    scale: 1;
    translate: 0 0;
}

