.damage-number-container{
    position: absolute;
    display: flex;
    width: 150px;
    height: 25px;
    -unity-text-align: middle-center;
    color: #ff8b00;
    text-shadow: 6px 6px 0px rgb(0, 0, 0);
}


.damage-number-label {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.damage-number-label-active {
    opacity: 1;
}


